$color-blue: #001f5f;
$color-lightblue: #2196f3;

$color-green: #00aea4;
$color-lightgreen: #00d2b5;

$color-orange: #e94d1c;
$color-darkorange: #cc3304;

$color-gray: #ccc;
$color-lightgray: #dbdbdb;
